*{
    box-sizing: border-box;
}
body{
    background-color: #40407A;
    color: #40407A;
    font-family: Arial, serif;
    margin: 0;

}
header{
    max-height: 200px;
    font-size: 90%;
    background-color: #404071;
    background-size: 100%;
    background-image: url("chp6Yoga/starters/sunrise.jpg");
    color: #FFFFFF;
    margin-top: 50px;
}
footer{
    background-color: #80CBC4;
}
nav{
    height: auto;
    width: 100%;
    text-align: right;
    background-color: white;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
nav.a{
    text-decoration: none;
}
nav ul{
    margin: 0;
    padding-right: 2em ;
    font-size: 1.2em;
}
nav li{
    width: 30%;
    display: inline;
    padding-left: 2em;
}
nav a:link{
    color: #3f2860;

}
nav a:visited{
    color: #497777;
}
nav a:hover{
    color: #A26100;
}
h1{
    margin-bottom: 10px;;
}
h2{
    margin: 0;
}
footer{
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    font-size: small;
    float: none;

}
li{
    font-size: 90%;

}
#wrapper{
    background-color: #F5F5F5;
    padding: 2em;

}
.home{
    padding-top: 2em;
    padding-left: 10%;
    height: 20vh;
}
.content{
    height: 20vh;
    padding-top: 2em;
    padding-left: 10%;
}
#mathero{
    height: 300px;
    background-image: url("chp5yoga/yoga/yogamat.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: none;
}
#loungehero{
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("chp5yoga/yoga/yogalounge.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: none;
}
header a:link{
    color: #FFFFFF;
    text-decoration: none;
}
header a:visited{
    color: #FFFFFF;
}
header a:hover{
    color: #8F92B2;
    transition: ease-out, 10s;
}
section{
    padding-left: .5em;
    padding-right: .5em;
}
#flow{
    display: block;
}
table{
    border: #40407A solid 1px;
    margin-bottom: 1em;
    min-width: 400px;
    border-collapse: collapse;
    margin-left: 50px;
}
table caption{
    margin: 1em;
    font-weight: bold;
    font-size: 120%;
}
tr, th{
    padding: 0.5em;
    border: #40407A solid 1px;
}
tr:nth-of-type(even){
    background-color: #D7E8E9;
}
form{
    display: flex;
    flex-flow: column nowrap;
}
input, datalist textarea{
    margin-bottom: .5em;
}
@media screen and (min-width: 600px ){
    nav ul{
        flex: content-box;
        flex-direction: row;
        justify-content: flex-end;
    }
    nav li{
        width: 7em;
    }
    section{
        padding-left: 2em;
        padding-right: 2em;
    }
    #mathero{
        background-image: url("chp5yoga/yoga/yogamat.jpg");
        background-repeat: no-repeat;
        display: flex;
        height: 300px;
    }
    #loungehero{
         height: 300px;
         background-image: url("chp5yoga/yoga/yogalounge.jpg");
         background-repeat: no-repeat;
         display: flex;
     }
    #flow{
        display: flex;
        flex-direction: row;
    }
    header{
        background-position: center;
        height: fit-content;
    }
    form{
        width: 60%;
        max-width: 40em;
        display: grid;
        grid-gap: 1em;
        grid-column: 2;
    }
    form button{
        grid-column: 2;
        width: 9em;
    }
@media screen and (min-device-width: 1024px){
    header{
        font-size: 120%;
        text-align: center;
    }
    nav{
        font-weight: bold;
    }
    .home{
        height: 50%;
        padding-top: 5em;
        padding-left: 8em;
    }
    .content{
        height: 30%;
        padding-top: 2em;
        padding-left: 8em;
    }
    #wrapper{
        margin: auto;
        width: 80%;

    }
    #mathero{
        display: flex;
        flex-direction: row;
        background-image: url("chp5yoga/yoga/yogalounge.jpg");
        background-repeat: no-repeat;
    }
    #loungehero{
        height: 300px;
        background-image: url("chp5yoga/yoga/yogalounge.jpg");
        background-repeat: no-repeat;
        display: flex;
    }
    #flow{
        display: flex;
        flex-direction: row;
    }
    header{
        background-position: center;
        height: fit-content;
    }
}
}